backports.ssl-match-hostname==3.4.0.2
backports.weakref==1.0rc1
beautifulsoup4==4.5.1
bleach==1.5.0
boto==2.43.0
certifi==14.5.14
click==6.6
colour==0.1.2
configobj==5.0.6
cycler==0.10.0
decorator==3.4.0
Flask==0.11.1
funcsigs==1.0.2
functools32==3.2.3.post2
gunicorn==19.6.0
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.8
Markdown==2.2.0
MarkupSafe==0.23
matplotlib==2.0.0
mock==2.0.0
mpltools==0.1
networkx==1.9.1
nose==1.3.4
numpy==1.11.2
pandas==0.19.1
pbr==1.10.0
protobuf==3.3.0
pyparsing==2.1.10
python-dateutil==2.6.0
python-http-client==2.2.1
pytz==2016.10
requests==2.5.0
scipy==0.18.1
sendgrid==3.6.3
six==1.10.0
stevedore==1.18.0
subprocess32==3.2.7
TBB==0.1
tensorflow==1.2.0
tornado==4.0.2
vboxapi==1.0
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
Werkzeug==0.11.11
wget==3.2
