{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block content %}
  <table>
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Party #</th>
      <th>Name</th>
      <th>rehearsalInvite</th>
      <th>welcomeReceptionInvite</th>
      <th>Rehearsal Food Choice</th>
      <th>Reception Food Choice</th>
      <th>RehearsalRSVPStatus</th>
      <th>welcomeReceptionRSVPStatus</th>
      <th>receptionRSVPStatus</th>
      <th>comment</th>
    </tr>
  {% for guest in guests%}
    <tr>
      <th>{{ guest.id }}</th>
      <th>{{ guest.code }}
      <th>{{ guest.party }}</th>
      <th>{{ guest.name }}</th>
      <th>{{ guest.rehearsalInvite }}</th>
      <th>{{ guest.welcomeReceptionInvite }}</th>
      <th>{{ guest.rehearsalFoodChoice }}</th>
      <th>{{ guest.receptionFoodChoice }}</th>
      <th>{{ guest.rehearsalRSVPStatus }}</th>
      <th>{{ guest.welcomeReceptionRSVPStatus }}</th>
      <th>{{ guest.receptionRSVPStatus }}</th>
      <th>{{ guest.comment }}</th>
    </tr>
  {% endfor %}
  </table>
  <br><br>
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}