{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <style>
    .rsvp-card {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;

      text-align: left;

      width: 70%;
      min-width: 300px;
    }

    .rsvp-card__title {
      background-color: var(--primary-color);
      color: var(--text-on-primary)
    }

    .mdl-textfield {
      width: 100%;
    }

    .mdl-button--colored  {
      background-color: var(--primary-color) !important;
      margin : 30px;
    }

  </style>
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block content %}
  <form id="rsvpForm" action="/rsvp" method="POST">
    {% for guest in party %}
      <input type=hidden id="id{{ loop.index }}" name="id{{ loop.index }}" value={{ guest.id }}>
    {% endfor %}
    {% if rehearsal["invited"] %}
      <div class="mdl-card rsvp-card mdl-shadow--2dp">
        <div class="mdl-card__title rsvp-card__title">
          <h3 class="mdl-card__title-text rsvp-card__title-text"t>
            Rehearsal Dinner
          </h3>
        </div>
        <div class="mdl-card__supporting-text">
          <ul class="mdl-list rsvp-card__guest-list">
            {% for guest in party %}
              {% if guest.rehearsalInvite == 1 %}
                  <li class="mdl-list__item rsvp-card__guest-list__item">
                  <span>
                    {{ guest.name }} : 
                    <select id="rehearsalRSVPStatus{{ guest.id }}" name="rehearsalRSVPStatus{{ guest.id }}" required>
                      {% if not guest.rehearsalRSVPStatus %}
                        <option value="" selected disabled hidden> Choose here </option>
                      {% else %}
                          <option value="" disabled hidden> Choose here </option>
                      {% endif %}
                      {% for response in rehearsal["choices"] %}
                        {% if guest.rehearsalRSVPStatus == response.response %}
                          <option value="{{ response.response }}" selected>{{ response.response }}</option>
                        {% else %}
                          <option value="{{ response.response }}">{{ response.response }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </span>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}

    {% if welcome["invited"] %}
      <div class="mdl-card rsvp-card mdl-shadow--2dp">
        <div class="mdl-card__title rsvp-card__title">
          <h3 class="mdl-card__title-text rsvp-card__title-text"t>
            Welcome Reception
          </h3>
        </div>
        <div class="mdl-card__supporting-text">
          <ul class="mdl-list rsvp-card__guest-list">
            {% for guest in party %}
              {% if guest.welcomeReceptionInvite == 1 %}
                <li class="mdl-list__item rsvp-card__guest-list__item">
                  <span>
                    {{ guest.name }} : 
                    <select id="welcomeReceptionRSVPStatus{{ guest.id }}" name="welcomeReceptionRSVPStatus{{ guest.id }}" required>
                      {% if not guest.welcomeReceptionRSVPStatus %}
                        <option value="" selected disabled hidden> Choose here </option>
                      {% else %}
                        <option value="" disabled hidden> Choose here </option>
                      {% endif %}
                      {% for response in welcome["choices"] %}
                        {% if guest.welcomeReceptionRSVPStatus == response.response %}
                          <option value="{{ response.response }}" selected>{{ response.response }}</option>
                        {% else %}
                          <option value="{{ response.response }}">{{ response.response }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </span>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}

    <div class="mdl-card rsvp-card mdl-shadow--2dp">
      <div class="mdl-card__title rsvp-card__title">
        <h3 class="mdl-card__title-text rsvp-card__title-text"t>
            Wedding Reception
        </h3>
      </div>
      <div class="mdl-card__supporting-text">
        <ul class="mdl-list rsvp-card__guest-list">
          {% for guest in party %}
            <li class="mdl-list__item rsvp-card__guest-list__item">
              <span>
                {{ guest.name }} : 
                <select id="receptionRSVPStatus{{ guest.id }}" name="receptionRSVPStatus{{ guest.id }}" required>
                  {% if not guest.receptionRSVPStatus %}
                    <option value="" selected disabled hidden> Choose here </option>
                  {% else %}
                    <option value="" disabled hidden> Choose here </option>
                  {% endif %}
                  {% for response in reception["choices"] %}
                    {% if guest.receptionRSVPStatus == response.response %}
                      <option value="{{ response.response }}" selected>{{ response.response }}</option>
                    {% else %}
                      <option value="{{ response.response }}">{{ response.response }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% if brunch["invited"] %}
      <div class="mdl-card rsvp-card mdl-shadow--2dp">
        <div class="mdl-card__title rsvp-card__title">
          <h3 class="mdl-card__title-text rsvp-card__title-text"t>
            Sunday Brunch
          </h3>
        </div>
        <div class="mdl-card__supporting-text">
          <ul class="mdl-list rsvp-card__guest-list">
            {% for guest in party %}
              {% if guest.brunchInvite == 1 %}
                <li class="mdl-list__item rsvp-card__guest-list__item">
                  <span>
                    {{ guest.name }} : 
                    <select id="brunchRSVPStatus{{ guest.id }}" name="brunchRSVPStatus{{ guest.id }}" required>
                      {% if not guest.brunchRSVPStatus %}
                        <option value="" selected disabled hidden> Choose here </option>
                      {% else %}
                        <option value="" disabled hidden> Choose here </option>
                      {% endif %}
                      {% for response in brunch["choices"] %}
                        {% if guest.brunchRSVPStatus == response.response %}
                          <option value="{{ response.response }}" selected>{{ response.response }}</option>
                        {% else %}
                          <option value="{{ response.response }}">{{ response.response }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </span>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}

    <div class="mdl-card rsvp-card mdl-shadow--2dp">
      <div class="mdl-card__title rsvp-card__title">
        <h3 class="mdl-card__title-text rsvp-card__title-text"t>
            Final Thoughts
        </h3>
      </div>
      <div class="mdl-card__supporting-text rsvp-card__supporting-text">
        <span>Please let us know about any dietary observations.</span>
        <br><br>
        <span>Our engagement is also a time of spiritual preparation for us. If there are any intentions for which we can pray (for you), let us know!</span>
      </div>
      <div class="mdl-card__actions rsvp-card__actions">
        <div class="mdl-textfield mdl-js-textfield">
          {% if party[0].comment %}
            <textarea id="comment{{party[0].id}}" name="comment{{party[0].id}}" class="mdl-textfield__input" rows="5">{{ party[0].comment }}</textarea>
          {% else %}
            <textarea id="comment{{party[0].id}}" name="comment{{party[0].id}}" class="mdl-textfield__input" rows="5"></textarea>
            <label class="mdl-textfield__label" for="comment{{party[0].id}}">Enter text here...</label>
          {% endif %}
        </div>
      </div>
  </div>

    <span>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored search-form__submit" type="submit">
            Submit
      </button>
    </span>
  </form>
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

